<!--{{alphabet|json}}-->

<div class="row">
    <div class="col-sm-2">
        <select class="form-control"
                ng-model="mode"
                ng-options="opt.value as opt.label for opt in modeOptions"></select>
    </div>

    <div class="col-sm-offset-3">
        <div class="btn-toolbar btn-group">
            <button class="btn btn-default"
                    ng-repeat="opt in modeOptions"
                    ng-class="{'btn-success': opt.value == mode}"
            ng-click="ctrl.setMode(opt.value)">{{opt.label}}
            </button>
        </div>

    </div>
</div>
<hr>
<h2>Consonants</h2>

<div class="btn-toolbar btn-group-sm">
    <button class="btn btn-primary" ng-show="false"
            ng-click="ctrl.addConsonant()">Add Consonant with Diacritic
    </button>

    <button class="btn btn-primary"
            ng-click="ctrl.addPhone()">
        Add Phone
    </button>
</div>

<hr>

<table class="tb1">
    <tr>
        <th></th>
        <th colspan="2" ng-repeat="p in ctrl.getPlaces()" ng-bind="p.label"></th>
    </tr>
    <tr ng-repeat="m in ctrl.getManners()">
        <td ng-bind="m.label"></td>
        <td ng-repeat-start="p in ctrl.getPlaces()"
            ng-class="ctrl.getCssClasses(m, p, false)">
            <at-glyph ng-repeat="k in ctrl.getPhoneKeys(m.label, p.label, false)"
                      ng-class="{'in-use': isInUse(k)}"
                      key="{{k}}"></at-glyph>
        </td>
        <td ng-class="ctrl.getCssClasses(m, p, true)"
            ng-repeat-end>
            <at-glyph ng-repeat="k in ctrl.getPhoneKeys(m.label, p.label, true)"
                      ng-class="{'in-use': isInUse(k)}"
                      key="{{k}}"></at-glyph>
        </td>
    </tr>
</table>

<table>

</table>
<span class="clearfix"></span>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>


<h2 style="margin-top:5em">Vowels</h2>
<div class="col-md-6">
    <uib-tabset active="vowelTabIndex">
        <uib-tab heading="Vowel"></uib-tab>
        <uib-tab heading="Vowel+Diacritics"></uib-tab>
        <uib-tab heading="Diphthongs/Triphthongs"></uib-tab>
    </uib-tabset>
    <div ng-show="vowelTabIndex === 0">
        <div class="sec_vowels">
            <h2>Vowels</h2>
            <div ng-show="false" style="position:relative">
                <style>
                    svg {
                        display: inline-block;
                    }
                </style>
                <svg width="450" height="330" version="1.1">
                    <rect width="450" height="330" fill="lightblue"></rect>
                    <g transform="translate(100, 55)">
                        <line x1="0" y1="0" x2="286" y2="0" stroke="gray"></line>
                        <line x1="48" y1="72" x2="286" y2="72" stroke="gray"></line>
                        <line x1="96" y1="144" x2="286" y2="144" stroke="gray"></line>
                        <line x1="144" y1="216" x2="286" y2="216" stroke="gray"></line>
                        <line x1="0" y1="0" x2="144" y2="216" stroke="gray"></line>
                        <line x1="143" y1="0" x2="215" y2="216" stroke="gray"></line>
                        <line x1="286" y1="0" x2="286" y2="216" stroke="gray"></line>
                        <circle cx="0" cy="0" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="143" cy="0" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="286" cy="0" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="48" cy="72" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="167" cy="72" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="286" cy="72" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="96" cy="144" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="191" cy="144" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="286" cy="144" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="144" cy="216" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="215" cy="216" r="2" stroke="black" stroke-width="3"/>
                        <circle cx="286" cy="216" r="2" stroke="black" stroke-width="3"/>
                    </g>
                </svg>
                <table class="tb5">
                    <tr>
                        <th>
                            <span style="width:74px;"></span>
                            Front
                            <span style="width:104px;"></span>
                            Central
                            <span style="width:104px;"></span>
                            Back
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <span style="width:50px;">Close</span>
                            <at-glyph ipa-number="301"></at-glyph>
                            <at-glyph ipa-number="309"></at-glyph>
                            <span style="width: 52px;"></span>
                            <at-glyph ipa-number="317"></at-glyph>
                            <at-glyph ipa-number="318"></at-glyph>
                            <span style="width: 52px;"></span>
                            <at-glyph ipa-number="316"></at-glyph>
                            <at-glyph ipa-number="308"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 120px;"></span>
                            <at-glyph ipa-number="319"></at-glyph>
                            <at-glyph ipa-number="320"></at-glyph>
                            <span style="width:92px;"></span>
                            <at-glyph ipa-number="321"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 98px;">Close-mid</span>
                            <at-glyph ipa-number="302"></at-glyph>
                            <at-glyph ipa-number="310"></at-glyph>
                            <span style="width: 28px;"></span>
                            <at-glyph ipa-number="397"></at-glyph>
                            <at-glyph ipa-number="323"></at-glyph>
                            <span style="width: 28px;"></span>
                            <at-glyph ipa-number="315"></at-glyph>
                            <at-glyph ipa-number="307"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 250px;"></span>
                            <at-glyph ipa-number="322"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 146px;">Open-mid</span>
                            <at-glyph ipa-number="303"></at-glyph>
                            <at-glyph ipa-number="311"></at-glyph>
                            <span style="width: 4px;"></span>
                            <at-glyph ipa-number="326"></at-glyph>
                            <at-glyph ipa-number="395"></at-glyph>
                            <span style="width: 4px;"></span>
                            <at-glyph ipa-number="314"></at-glyph>
                            <at-glyph ipa-number="306"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 170px;"></span>
                            <at-glyph ipa-number="325"></at-glyph>
                            <b style="width: 48px;"></b>
                            <at-glyph ipa-number="324"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="width: 194px;">Open</span>
                            <at-glyph ipa-number="304"></at-glyph>
                            <at-glyph ipa-number="312"></at-glyph>
                            <span style="width: 52px;"></span>
                            <at-glyph ipa-number="305"></at-glyph>
                            <at-glyph ipa-number="313"></at-glyph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Where symbols appear in
                                pairs, the one <br>
                                to the right represents a rounded vowel.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="position:relative">
                <svg width="450" height="330" version="1.1">
                    <!--<rect width="450" height="330" fill="lightblue"></rect>-->
                    <!--<rect y="36" width="450" height="36" fill="lightyellow"></rect>-->
                    <style>
                        text {
                            font-family: Times;
                            font-size: 14px;
                        }
                    </style>
                    <g transform="translate(100, 22)" style="text-anchor: middle;">
                        <text x="0">Front</text>
                        <text x="144">Central</text>
                        <text x="288">Back</text>
                    </g>
                    <g transform="translate(4, 58)">
                        <text y="0">Close</text>
                        <text y="36" fill="transparent">Near-close</text>
                        <text y="72">Close-mid</text>
                        <text y="108" fill="transparent">Mid</text>
                        <text y="144">Open-mid</text>
                        <text y="180" fill="transparent">Near-open</text>
                        <text y="216">Open</text>
                    </g>
                    <g transform="translate(170, 310)">
                        <text>
                            <tspan x="0" y="-6">Where symbols appear in pairs, the one</tspan>
                            <tspan x="0" y="10">to the right represents a rounded vowel.</tspan>
                        </text>
                    </g>
                    <g transform="translate(100, 54)">
                        <line x1="0" y1="0" x2="288" y2="0" stroke="gray"></line>
                        <line x1="48" y1="72" x2="288" y2="72" stroke="gray"></line>
                        <line x1="96" y1="144" x2="288" y2="144" stroke="gray"></line>
                        <line x1="144" y1="216" x2="288" y2="216" stroke="gray"></line>
                        <line x1="0" y1="0" x2="144" y2="216" stroke="gray"></line>
                        <line x1="144" y1="0" x2="216" y2="216" stroke="gray"></line>
                        <line x1="288" y1="0" x2="288" y2="216" stroke="gray"></line>
                        <circle cx="0" cy="0" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="144" cy="0" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="288" cy="0" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="48" cy="72" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="168" cy="72" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="288" cy="72" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="96" cy="144" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="192" cy="144" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="288" cy="144" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="144" cy="216" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="216" cy="216" r="6" stroke="white" fill="black" stroke-width="8"/>
                        <circle cx="288" cy="216" r="6" stroke="white" fill="black" stroke-width="8"/>
                    </g>
                </svg>
                <at-glyph ng-repeat="v in getVowelKeys()" key="{{v}}"
                          style="{{getStyle(v)}}"></at-glyph>
            </div>
        </div>
    </div>
    <div ng-show="vowelTabIndex === 1">
        Vowel + Diacritics
    </div>
    <div ng-show="vowelTabIndex === 2">
        Diphthongs / Trithphongs
        <button class="btn btn-sm btn-primary"
                ng-click="ctrl.addDiphthong()">Add Diphthongs
        </button>
        <table>
            <tr>
                <th>Phone Key</th>
                <th>IPA Symbol</th>
                <th>X-SAMPA</th>
                <th>Appen SAMPA</th>
            </tr>
        </table>
    </div>
</div>