<section class="busy" ng-show="context.isLoading">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="context.isLoading">

    <h1>Task: {{task.taskId}} - {{task.name}}</h1>

    <h2>Sub Tasks</h2>
    <table class="table table-hover">
        <tr>
            <th>Sub Task Id</th>
            <th>name</th>
            <th>Work Type</th>
            <th>Description</th>
            <th>Batch Size</th>
        </tr>
        <tr ng-repeat="s in subTasks | orderBy: 'subTaskId'">
            <td>{{s.subTaskId}}</td>
            <td>{{s.name}}</td>
            <td>{{s.workType}}</td>
            <td>{{s.description}}</td>
            <td>{{s.batchSize}}</td>
        </tr>
    </table>

    <div at-lex-data-input when-data-loaded="dataLoaded(filename, type, data)"></div>

    {{inputBuffer}}
    <div>
        <h2>Data</h2>
        buffer length: {{inputBuffer.length}}, {{count}}
        <table class="table">
            <tr ng-repeat="i in getDataPacks()">
                <td>{{i.filename}}</td>
                <td>{{i.type}}</td>
                <td>{{i.data}}</td>
            </tr>
        </table>
    </div>
</section>
