<section class="busy" ng-show="context.isLoading">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="context.isLoading">

    <h1>Task: {{task.taskId}} - {{task.name}}</h1>

    <h2>Sub Tasks</h2>
    <table class="table table-hover">
        <tr>
            <th>Sub Task Id</th>
            <th>name</th>
            <th>Work Type</th>
            <th>Description</th>
            <th>Batch Size</th>
        </tr>
        <tr ng-repeat="s in subTasks | orderBy: 'subTaskId'">
            <td>{{s.subTaskId}}</td>
            <td>{{s.name}}</td>
            <td>{{s.workType}}</td>
            <td>{{s.description}}</td>
            <td>{{s.batchSize}}</td>
        </tr>
    </table>

    <div at-lex-data-input="dataBuffer"></div>

    <ul></ul>

    <uib-tabset class="data-preview" active="tabIndex" ng-show="dataBuffer.length">
        <uib-tab ng-repeat="i in dataBuffer">
            <uib-tab-heading>
                <span title="{{getDataTabTitle(i)}}">{{i.filename || '&lt;no name&gt;'}}</span>
                <span class="close-tab"
                      ng-click="closeDataTab($index)">&times;</span>
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>

    <div class="data-preview-body" ng-show="dataBuffer.length">

        <uib-tabset type="pills" active="innerTabIndex">
            <uib-tab heading="Preview"></uib-tab>
            <uib-tab heading="Raw Data"></uib-tab>
        </uib-tabset>

        <pre ng-show="innerTabIndex===1"
             class="raw-data">{{dataBuffer[tabIndex].data}}</pre>
    </div>

</section>
