<!-- content of admin -->
<h1>{{title}}</h1>
<div class="row">
    <div class="col-sm-4">
        <h2>Project Management</h2>
        <ul class="main-menu">
            <li><a href="/#/projects">Projects</a></li>
            <li><a href="/#/tasks">Tasks</a></li>
            <li><a href="/#/pre-processing">Pre-processing</a></li>
            <li><a href="/#/file-processing">File Processing</a></li>
        </ul>
    </div>

    <div class="col-sm-4">
        <h2>Language Management</h2>
        <ul class="main-menu">
            <li><a href="/#/dialects">Languages/Dialects</a></li>
            <li><a href="/#/alphabets">Phonetic Alphabets</a></li>
        </ul>
    </div>

    <div class="col-sm-4">
        <h2>Reports</h2>
        <ul class="main-menu">
            <li><a href="/#/project-report">Project Reports</a></li>
            <li><a href="/#/user-report">User Reports</a></li>
            <li><a href="/#/quoting-report">Quoting Reports</a></li>
        </ul>
    </div>
</div>
