<h1>Working on batch {{batchId}}</h1>

<div class="row" ng-show="true">
    <div class="col-sm-4">
        <select class="form-control" ng-model="alphabetId"
                ng-options="a.alphabetId as '' + a.alphabetId + ' ' + a.name for a in alphabets|orderBy:'alphabetId'">
            <option value="">-- Choose an Alphabet --</option>
        </select>
    </div>


</div>

<hr>

<table class="table table-hover">
    <tr>
        <th>No.</th>
        <th>Headword</th>
        <th>Spelling Correction</th>
        <th>SAMPA</th>
        <th>TAG</th>
    </tr>
    <tbody ng-repeat="i in getItemsBehind()"
           ng-click="setCurrentItem(i)"
           ng-init="totalVariants = i.variants.length">
    <tr ng-repeat="v in i.variants">
        <td ng-if="$index==0" rowspan="{{totalVariants}}">
            {{i.index+1}}
        </td>
        <td ng-="$index==0" rowspan="{{totalVariants}}">{{i.headword}}</td>
        <td ng-if="$index==0" rowspan="{{totalVariants}}">
            <span ng-show="i.headword != i.spellingCorrection">{{i.spellingCorrection}}</span>
        </td>
        <td>{{i.variants[$index].sampa}}</td>
        <td>{{i.variants[$index].tag}}</td>
    </tr>
    </tbody>
    <tr>
        <td colspan="5" class="lex-work-pane-container">
            <div class="lex-work-pane" ng-form="form">
                <div class="row">

                    <div class="col-sm-6">
                        <h1>{{currentItem.index+1}}</h1>
                        <span class="headword">{{currentItem.headword}}</span>
                        <span class="clearfix"></span>
                    </div>
                    <div class="col-sm-6 correction">
                        <i class="fa fa-pencil"></i>
                        <input class="spelling-correction"
                               ng-model="formInput.spellingCorrection">
                        <span class="clearfix"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>SAMPA variants</label>
                    </div>
                    <div class="sampa-variant"
                         ng-repeat="i in formInput.variants"
                         ng-init="v = formInput.variants[$index]">
                        <div class="col-sm-4">
                            <input class="form-control"
                                   ng-model="formInput.variants[$index].sampa">
                        </div>
                        <div class="col-sm-8">
                            <div class="btn-toolbar">
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-default" ng-repeat="i in ['tag1', 'tag2', 'tag3']">
                                        {{i}}
                                    </button>
                                </div>
                                <button class="btn btn-success btn-sm"
                                        ng-show="$last">

                                    Add Variant
                                </button>
                            </div>
                        </div>
                        <span class="clearfix"></span>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-sm"
                                ng-disabled="false"
                                ng-click="save()">Save
                        </button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tbody ng-repeat="i in getItemsAhead()"
           ng-click="setCurrentItem(i)"
           ng-init="totalVariants = i.variants.length">
    <tr ng-repeat="v in i.variants">
        <td ng-if="$index==0" rowspan="{{totalVariants}}">
            {{i.index+1}}
        </td>
        <td ng-if="$index==0" rowspan="{{totalVariants}}">{{i.headword}}</td>
        <td ng-if="$index==0" rowspan="{{totalVariants}}">
            <span ng-show="i.headword != i.spellingCorrection">{{i.spellingCorrection}}</span>
        </td>
        <td>{{i.variants[$index].sampa}}</td>
        <td>{{i.variants[$index].tag}}</td>
    </tr>
    </tbody>
</table>
