body {
  font-family: 'Open Sans', sans-serif;
}

header[at-header-bar] {
  background: #233987;
  height: 48px;
  margin-bottom: 0;

  // for all fa icons to be bigger
  [class^="icon-"]::before, [class*=" icon-"]::before,
  [class^="fa-"]::before, [class*=" fa-"]::before {
    font-size: 16px;
    position: relative;
    top: 1px;
  }

  & > div.navbar-header {
    display: inline-block;

    & > a.header-menu {
      color: white;
      cursor: pointer;
      float: left;
      padding: 14px 10px 0 10px;
      border-left: 0;
      display: inline-block;

      &:hover {
        color: lightgray;
      }

      & i {
        padding: 0 5px;
        &::before {
          font-size: 21px;
        }
      }
    }

    & > div.auto-hide-navbar-tags {
      display: inline-block;
      float: left;
      min-width: 200px;
      & > a > img {
        vertical-align: top;
        padding-top: 5px;
        padding-left: 20px;
      }
      & span.env-label {
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 44px;
        padding-left: 23px;
      }
    }
  }
  & > div.rest-menu-items {
    color: white;
    font-size: 12px;
    padding-right: 15px;

    .header-caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px solid white;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-bottom: 0 dotted;
      content: "";
    }

    & > ul {
      list-style-type: none;

      & > li {
        float: left;
        line-height: 3em;
        padding: 5px 8px;
        & > a {
          color: white;
          text-decoration: none;
          cursor: pointer;
          &:visited {
            color: white;
          }
          &:hover {
            color: lightgray;
          }
        }

        &.menu-item {
          img.circular-image {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header[at-header-bar] {
    & > div.navbar-header > div.auto-hide-navbar-tags {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  header[at-header-bar] {
    & > div.navbar-header {
      & > a.header-menu {
        padding: 14px 5px 0 5px;
      }
    }
  }
}

h1 {
  font-size: 35px;
  //font-family: trebuchet ms, sans-serif;
  color: #000066;
}

h2 {
  padding: 0 15px;
  color: #660033;
  font-size: 25px;
  font-family: verdana, sans-serif;
  font-weight: normal;
}

section.busy {
  text-align: center;
  padding-top: 5em;
  font-size: 20pt;
}

table.phone-table {
  border-collapse: collapse;
  font-family: Times;
  font-size: 16px;
  table-layout: fixed;
  & td, & th {
    border: lightgray thin solid;
    text-align: center;
    height: 36px;
  }
  & th {
    font-weight: normal;
    padding: 0 4px;
  }
  & td:first-child {
    text-align: left;
    padding: 0 4px;
    width: 120px;
  }
  &.phone-table-pulmonic {
    //width: 1124px;
    & td.voiceless {
      border-right-color: transparent;
    }
    & td.voiced {
      border-left-color: transparent;
    }
  }
}

ul.main-menu {
  list-style-type: none;
  padding: 15px;

  & > li > a {

    display: block;

    padding: 10px 9px 10px 9px;
    margin-bottom: 15px;
    border-radius: 10px;

    color: #393939;
    font-size: 18px;
    text-decoration: none;

    background: -webkit-linear-gradient(top, #E3E3E3, #fff);
    background: -moz-linear-gradient(top, #E3E3E3, #fff);
    background: -ms-linear-gradient(top, #E3E3E3, #fff);
    background: -o-linear-gradient(top, #E3E3E3, #fff);
    -moz-box-shadow: 0 0 5px 1px #BFBFBF;
    -webkit-box-shadow: 0 0 5px 1px #BFBFBF;
    box-shadow: 0 0 5px 1px #BFBFBF;
  }
}

at-glyph {
  display: inline-block;
  cursor: pointer;

  box-sizing: content-box;
  width: 28px;
  height: 28px;
  margin: 0 4px;
  border: dotted transparent 2px;
  border-radius: 5px;

  text-align: center;
  vertical-align: middle;
  font-style: normal;
  color: #efefef;
  background-color: white;

  &.in-use {
    background-color: lightgreen;
    color: black;
  }
  &:hover {
    border-color: lightgray;
    background-color: lightblue;
  }
}

div.split-pane {
  position: relative;
  //border: thin solid lightgray;
  border: thin solid transparent;
  & > div.left-pane {
    width: 50%;
    //background-color: lightyellow;
    background-color: white;
    padding: 0 15px;
    & > div.tab-body {
      border: thin lightgray solid;
      border-top-width: 0;
      padding: 10px;
      min-height: 250px;
      overflow-y: scroll;

      & at-glyph {
        margin: 2px;
      }
    }
  }
  & > div.right-pane {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    //background-color: lightblue;
    background-color: white;
    padding: 0 15px;

    div.field-box {
      float: left;
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
      & > label {
        font-weight: normal;
        display: inline-block;
        float: left;
        width: 55px;
      }
    }

    button.my-round-button {
      width: 32px;
      height: 32px;
      padding: 0 2px;
      text-align: center;
      border-radius: 32px;
    }
    div.preview {
      font-size: 72pt;
      min-width: 1em;
      height: 1em;
      //background-color: lightgreen;
      text-align: center;
      line-height: 1.0;
      max-width: 2.3em;
    }
  }
}

at-lex-data-input, *[at-lex-data-input] {
  display: block;
  border: 2px gray dashed;
  border-radius: 5px;
  min-height: 100px;
  &.drop-okay {
    background-color: lightgreen;
  }
  &.drop-not-okay {
    background-color: red;
  }
}
