body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 35px;
  //font-family: trebuchet ms, sans-serif;
  color: #000066;
}

h2 {
  padding: 0 15px;
  color: #660033;
  font-size: 25px;
  font-family: verdana, sans-serif;
  font-weight: normal;
}

section.busy {
  text-align: center;
  padding-top: 5em;
  font-size: 20pt;
}

table.phone-table {
  border-collapse: collapse;
  font-family: Times;
  font-size: 16px;
  table-layout: fixed;
  & td, & th {
    border: lightgray thin solid;
    text-align: center;
    height: 36px;
  }
  & th {
    font-weight: normal;
    padding: 0 4px;
  }
  & td:first-child {
    text-align: left;
    padding: 0 4px;
    width: 120px;
  }
  &.phone-table-pulmonic {
    //width: 1124px;
    & td.voiceless {
      border-right-color: transparent;
    }
    & td.voiced {
      border-left-color: transparent;
    }
  }
}

ul.main-menu {
  list-style-type: none;
  padding: 15px;

  & > li > a {

    display: block;

    padding: 10px 9px 10px 9px;
    margin-bottom: 15px;
    border-radius: 10px;

    color: #393939;
    font-size: 18px;
    text-decoration: none;

    background: -webkit-linear-gradient(top,#E3E3E3,#fff);
    background: -moz-linear-gradient(top,#E3E3E3,#fff);
    background: -ms-linear-gradient(top,#E3E3E3,#fff);
    background: -o-linear-gradient(top,#E3E3E3,#fff);
    -moz-box-shadow: 0 0 5px 1px #BFBFBF;
    -webkit-box-shadow: 0 0 5px 1px #BFBFBF;
    box-shadow: 0 0 5px 1px #BFBFBF;
  }
}

at-glyph {
  display: inline-block;
  cursor: pointer;

  box-sizing: content-box;
  width: 28px;
  height: 28px;
  margin: 0 4px;
  border: dotted transparent 2px;
  border-radius: 5px;

  text-align: center;
  vertical-align: middle;
  font-style: normal;
  color: #efefef;
  background-color: white;

  &.in-use {
    background-color: lightgreen;
    color: black;
  }
  &:hover {
    border-color: lightgray;
    background-color: lightblue;
  }
}

div.split-pane {
  position: relative;
  //border: thin solid lightgray;
  border: thin solid transparent;
  & > div.left-pane {
    width: 50%;
    //background-color: lightyellow;
    background-color: white;
    padding: 0 15px;
    & > div.tab-body {
      border: thin lightgray solid;
      border-top-width: 0;
      padding: 10px;
      min-height: 250px;
      overflow-y: scroll;

      & at-glyph {
        margin: 2px;
      }
    }
  }
  & > div.right-pane {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    //background-color: lightblue;
    background-color: white;
    padding: 0 15px;

    div.field-box {
      float: left;
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
      & > label {
        font-weight: normal;
        display: inline-block;
        float: left;
        width: 55px;
      }
    }

    button.my-round-button {
      width: 32px;
      height: 32px;
      padding: 0 2px;
      text-align: center;
      border-radius: 32px;
    }
    div.preview {
      font-size: 72pt;
      min-width: 1em;
      height: 1em;
      //background-color: lightgreen;
      text-align: center;
      line-height: 1.0;
      max-width: 2.3em;
    }
  }
}

//body {
//  font-size: 14px;
//  /*border: thin solid gray;*/
//  width: 1024px;
//  margin: 0;
//  padding: 12px 10px;
//}

/*
section {
  margin: 0 0 10px 0;
  display: inline-block;
  !*background-color: lightgoldenrodyellow;*!

  &:hover {
    !*background-color: lightgoldenrodyellow;*!
  }
}

section.sec_vowels {
  float: right;
  display: inline-block;
  !*left:555px;*!
  !*top:436px;*!
  display: inline-block;
  width: 450px;
  height: 350px;
}

section.sec_suprasegmentals {
  float: right;
  clear: right;
  width: 290px;
}

section.sec_tones {
  float: right;
  clear: right;
  width: 290px;
}

at-phone-chart {
  & h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;

    & span {
      text-transform: none;
    }
  }

  & h2 {
    margin: 4px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

i, b, at-phone {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 4px;
  vertical-align: middle;
  border: dotted transparent 2px;
}

i, at-phone {
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

i.in-use, at-phone.in-use {
  background-color: lightgreen;
}

i:hover, at-phone:hover {
  border-color: lightgray;
}

at-phone-chart.symbol i, at-phone-chart.symbol at-phone {
  font-size: 28px;
}

i:hover, at-phone:hover {
  !*background-color: lightgreen;*!
}

table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
  text-align: center;
}

th, td {
  height: 32px;
  border: transparent solid 2px;
  border-spacing: 0;
  line-height: 16px;
}

.U {
  text-transform: uppercase;
}

table.tb1 {
  font-size: 16px;
  width: 1024px;
  table-layout: fixed;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
}

table.tb1 td, table.tb1 th {
  border-color: gray;
}

table.tb1 td.na {
  background-color: lightgray;
}

table.tb1 th[colspan="2"], table.tb1 td[colspan="2"] {
  width: 80px;
}

table.tb1 td:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

table.tb2 th, table.tb2 td {
  border-color: gray;
}

table.tb2 td {
  width: 168px;
  border-bottom-color: transparent;
}

table.tb2 tr:last-child td {
  border-bottom-color: gray;
}

table.tb3 td:first-child {
  width: 240px;
}

table.tb4 td {
  width: 236px;
  border-color: gray;
}

table.tb5 {
  overflow: hidden;
  float: left;
  position: relative;
  top: -310px;
}

table.tb5 th, table.tb5 td {
  text-align: left;
}

table.tb5 span {
  display: inline-block;
}

table.tb5 tr:last-child div {
  margin: 2px 0 5px 160px;
  display: inline-block;
  vertical-align: middle;

}

div.header {
  margin: 4px 30px 8px 30px;
  text-align: justify;
  padding: 0;
}
*/

at-consonant-pane {
  display: inline-block;

  h2 {
    margin: 4px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  table.tb1 {
    font-size: 16px;
    font-family: Times;
    width: 1024px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px gray solid;
    //border-collapse: separate;
    //border: blue dashed 5px;
    //background-color: gray;
    //border-spacing: 2px;

    th {
      font-weight: normal;
      text-align: center;
      text-transform: capitalize;
    }
    td:first-child {
    }

    tr {
      border: 2px gray solid;
      background-color: white;
    }
    th, td {
      height: 32px;
      //border: transparent solid 2px;
      border-left: gray solid 2px;
      border-spacing: 0;
      line-height: 16px;
      background-color: transparent;
    }
    & th[colspan="2"], & td[colspan="2"] {
      width: 80px;
    }

    & td {
      &.na {
        background-color: lightgray;
      }

      &.nb {
        border-left: transparent 0 solid;
      }

      &:first-child {
        text-transform: capitalize;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

}

at-phone-chart.symbol i, at-phone-chart.symbol at-glyph {
  font-size: 28px;
}

.sec_vowels {
  display: inline-block;
  /*left:555px;*/
  /*top:436px;*/
  width: 450px;
  height: 350px;
  font-family: Times;
  font-size: 14px;

  svg {
    box-sizing: content-box;
  }

  table.tb5 {
    box-sizing: content-box;
    background-color: transparent;
    overflow: hidden;
    float: left;
    //position: relative;
    //top: -310px;
    //width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse;
    border: solid 2px pink;

    & th {
      box-sizing: content-box;
      font-weight: normal;
      text-align: center;
    }
    & tr {
      box-sizing: content-box;
      background-color: transparent;
    }
    & th, & td {
      box-sizing: content-box;
      text-align: left;
      height: 32px;
      border: 2px solid transparent;
      background-color: transparent;
      border-spacing: 0;
      padding: 1px;
      //padding-left: 2px;
    }
    & span {
      display: inline-block;
    }
    & tr:last-child div {
      margin: 2px 0 5px 160px;
      display: inline-block;
      vertical-align: middle;
      line-height: 16px;
    }
  }
}

